<a href="https://colab.research.google.com/github/duckmhd201/DataAnalystDeepLearning/blob/main/lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [4]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [ ]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print (dulieuxettuyen.tail(10))

    STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
90   91  8.1  7.7  9.1  8.5  6.1  8.6  ...   M NaN    2  6.25  4.00  6.50   A
91   92  7.8  6.5  6.7  5.4  6.2  4.8  ...   M NaN  2NT  4.75  4.75  4.50   A
92   93  5.0  6.6  6.5  7.2  5.8  6.7  ...   M NaN    1  3.25  5.25  4.25   A
93   94  5.2  5.2  6.8  7.9  6.6  8.9  ...   M NaN    1  3.50  4.25  5.00   A
94   95  5.8  5.9  7.6  6.1  5.3  8.1  ...   M NaN    1  4.25  2.50  4.75   A
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F NaN    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M NaN    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

In [ ]:
newframe = pd.DataFrame(dulieuxettuyen, columns=['DT'])
newframe.isnull().sum()

DT    97
dtype: int64

In [ ]:
dulieuxettuyenfilled = dulieuxettuyen.fillna(0)
print (dulieuxettuyenfilled)

    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F  0.0  2NT  3.25  3.25  4.50  A1
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M  0.0    1  6.00  4.00  3.50   C
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  0.0    1  5.00  6.75  4.00   C
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  0.0    1  4.25  4.25  5.25  D1
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M  0.0  2NT  4.25  4.50  5.00   A
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  0.0    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F  0.0    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  0.0  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  0.0    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

In [ ]:
newframe1 = pd.DataFrame(dulieuxettuyen, columns=['T1'])
newframe1.isnull().sum()

T1    0
dtype: int64

In [ ]:
newframe1filled = newframe1.fillna(newframe1.mean())
print (dulieuxettuyenfilled)

    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F  0.0  2NT  3.25  3.25  4.50  A1
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M  0.0    1  6.00  4.00  3.50   C
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  0.0    1  5.00  6.75  4.00   C
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  0.0    1  4.25  4.25  5.25  D1
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M  0.0  2NT  4.25  4.50  5.00   A
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  0.0    1  5.25  1.50  6.25   C
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F  0.0    1  5.25  3.75  4.75   C
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  0.0  2NT  7.00  8.00  4.00   C
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  0.0    1  5.00  3.50  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  0.0  2NT  5.25  2.50  4.25   C

[100 rows x 56 columns]

In [17]:
df = pd.DataFrame(dulieuxettuyen)
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] +df['N1'])/10
df['TBM2'] = (df['T2']*2 + df['L2'] + df['H2'] + df['S2'] + df['V2']*2 + df['X2'] + df['D2'] +df['N2'])/10
df['TBM3'] = (df['T6']*2 + df['L6'] + df['H6'] + df['S6'] + df['V6']*2 + df['X6'] + df['D6'] +df['N6'])/10
print(dulieuxettuyen)

    STT   T1   L1   H1   S1   V1   X1  ...   DH1   DH2   DH3  KT  TBM1  TBM2  TBM3
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...  3.25  3.25  4.50  A1  7.00  7.54  7.01
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...  6.00  4.00  3.50   C  4.69  5.47  5.07
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...  5.00  6.75  4.00   C  5.77  5.38  6.04
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...  4.25  4.25  5.25  D1  6.21  5.20  6.88
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...  4.25  4.50  5.00   A  6.50  6.36  6.99
..  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ..   ...   ...   ...
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...  5.25  1.50  6.25   C  7.43  7.42  6.83
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...  5.25  3.75  4.75   C  4.93  5.15  6.39
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...  7.00  8.00  4.00   C  7.05  7.84  7.67
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...  5.00  3.50  5.50   C  4.15  4.72  5.29
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...  5.25  2.50  4.25   C  5.26  5.72  5.85

[100 rows x 59 columns]

In [25]:
df = pd.DataFrame(dulieuxettuyen)
conditions = [
    (df['TBM1'] < 5),
    (df['TBM1'] >= 5) & (df['TBM1'] < 6.5),
    (df['TBM1'] >= 6.5) & (df['TBM1'] < 8),
    (df['TBM1'] >= 8) & (df['TBM1'] < 9)
]
choices = ['Y', 'TB', 'K','G']
df['XL1'] = np.select(conditions, choices, default='XS')
conditions2 = [
    (df['TBM2'] < 5),
    (df['TBM2'] >= 5) & (df['TBM2'] < 6.5),
    (df['TBM2'] >= 6.5) & (df['TBM2'] < 8),
    (df['TBM2'] >= 8) & (df['TBM2'] < 9)
]
choices2 = ['Y', 'TB', 'K','G']
df['XL2'] = np.select(conditions2, choices2, default='XS')
conditions3 = [
    (df['TBM3'] < 5),
    (df['TBM3'] >= 5) & (df['TBM3'] < 6.5),
    (df['TBM3'] >= 6.5) & (df['TBM3'] < 8),
    (df['TBM3'] >= 8) & (df['TBM3'] < 9)
]
choices3 = ['Y', 'TB', 'K','G']
df['XL3'] = np.select(conditions3, choices3, default='XS')

print(df)

    STT   T1   L1   H1   S1   V1   X1  ...  KT  TBM1  TBM2  TBM3  XL1  XL2  XL3
0     1  7.2  7.3  6.3  7.3  7.0  7.9  ...  A1  7.00  7.54  7.01    K    K    K
1     2  5.4  3.9  3.9  4.0  5.4  5.4  ...   C  4.69  5.47  5.07    Y   TB   TB
2     3  5.6  6.8  7.2  7.5  4.3  7.4  ...   C  5.77  5.38  6.04   TB   TB   TB
3     4  6.6  6.4  5.3  6.9  5.4  7.3  ...  D1  6.21  5.20  6.88   TB   TB    K
4     5  6.0  5.0  6.0  7.3  6.5  7.7  ...   A  6.50  6.36  6.99    K   TB    K
..  ...  ...  ...  ...  ...  ...  ...  ...  ..   ...   ...   ...  ...  ...  ...
95   96  8.6  6.9  7.4  8.8  7.6  5.8  ...   C  7.43  7.42  6.83    K    K    K
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   C  4.93  5.15  6.39    Y   TB   TB
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   C  7.05  7.84  7.67    K    K    K
98   99  2.7  1.8  3.4  5.3  4.5  7.9  ...   C  4.15  4.72  5.29    Y    Y   TB
99  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   C  5.26  5.72  5.85   TB   TB   TB

[100 rows x 62 columns]

In [28]:
df['US_TBM1'] = (df['TBM1']/10)*4
df['US_TBM2'] = (df['TBM2']/10)*4
df['US_TBM3'] = (df['TBM3']/10)*4
print(df)

    STT   T1   L1   H1   S1   V1  ...  XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3
0     1  7.2  7.3  6.3  7.3  7.0  ...    K    K    K    2.800    3.016    2.804
1     2  5.4  3.9  3.9  4.0  5.4  ...    Y   TB   TB    1.876    2.188    2.028
2     3  5.6  6.8  7.2  7.5  4.3  ...   TB   TB   TB    2.308    2.152    2.416
3     4  6.6  6.4  5.3  6.9  5.4  ...   TB   TB    K    2.484    2.080    2.752
4     5  6.0  5.0  6.0  7.3  6.5  ...    K   TB    K    2.600    2.544    2.796
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...      ...      ...      ...
95   96  8.6  6.9  7.4  8.8  7.6  ...    K    K    K    2.972    2.968    2.732
96   97  3.7  5.4  6.0  5.1  5.5  ...    Y   TB   TB    1.972    2.060    2.556
97   98  8.8  5.5  7.4  7.7  6.2  ...    K    K    K    2.820    3.136    3.068
98   99  2.7  1.8  3.4  5.3  4.5  ...    Y    Y   TB    1.660    1.888    2.116
99  100  4.1  5.2  4.9  5.3  5.5  ...   TB   TB   TB    2.104    2.288    2.340

[100 rows x 65 columns]

In [40]:
DK = [
    (df['KT'] == 'A'),
    (df['KT'] == 'B'),
    (df['KT'] == 'A1')
]
KQ = [((df['DH1']*2 + df['DH2'] + df['DH3'])/4),((df['DH1'] + df['DH2']*2 + df['DH3'])/4),((df['DH1']*2 + df['DH2'] + df['DH3'])/4)]
df['ĐXT']=np.select(DK,KQ,default=(df['DH1'] + df['DH2'] + df['DH3'])/3)
DK2 = [
    (df['ĐXT'] >= 5)
]
KQ2 = ['đậu']
df['KQST'] = np.select(DK2,KQ2,default="rớt")
print(df)

    STT   T1   L1   H1   S1   V1  ...  XL3  US_TBM1  US_TBM2  US_TBM3       ĐXT  KQST
0     1  7.2  7.3  6.3  7.3  7.0  ...    K    2.800    3.016    2.804  3.562500   rớt
1     2  5.4  3.9  3.9  4.0  5.4  ...   TB    1.876    2.188    2.028  4.500000   rớt
2     3  5.6  6.8  7.2  7.5  4.3  ...   TB    2.308    2.152    2.416  5.250000   đậu
3     4  6.6  6.4  5.3  6.9  5.4  ...    K    2.484    2.080    2.752  4.583333   rớt
4     5  6.0  5.0  6.0  7.3  6.5  ...    K    2.600    2.544    2.796  4.500000   rớt
..  ...  ...  ...  ...  ...  ...  ...  ...      ...      ...      ...       ...   ...
95   96  8.6  6.9  7.4  8.8  7.6  ...    K    2.972    2.968    2.732  4.333333   rớt
96   97  3.7  5.4  6.0  5.1  5.5  ...   TB    1.972    2.060    2.556  4.583333   rớt
97   98  8.8  5.5  7.4  7.7  6.2  ...    K    2.820    3.136    3.068  6.333333   đậu
98   99  2.7  1.8  3.4  5.3  4.5  ...   TB    1.660    1.888    2.116  4.666667   rớt
99  100  4.1  5.2  4.9  5.3  5.5  ...   TB    2.104    2.288    2.340  4.000000   rớt

[100 rows x 67 columns]